#faq {
  margin-top: -2px;
  margin-bottom: -2px;
  padding-bottom: 30px;
  min-height: 500px;
  background-color: black;
  
  overflow-x: hidden;
}
.faq-title {
  color: white;
  font-size: 40px;
  font-weight: 700;
  padding-left: 30px;
}
.faq-question {
  font-weight: 600;
  color: white;
  font-size: 25px;
  text-align: left;
}

.faq-answer {
  color: white;
  font-size: 17px;
  padding-top: 10px;
}

.q-a-container {
  position: relative;
  border: 2px solid white;
  padding: 30px;
  margin: 20px auto;
  width: 90%;
}

.bordered-text {
  display: block;
  position: absolute; /* Position the text absolutely */
  top: -25px; /* Move the text up to the top border */
  left: 50%; /* Center the text horizontally */
  transform: translateX(-50%); /* Adjust for exact centering */
  background: black; /* Add a background to cover the border */
  padding: 0 10px; /* Add some padding around the text */
  font-size: 25px; /* Set the font size */
  color: white;
  font-weight: 600;
}
.second-question {
  padding-top: 3rem;
}
.supplement-desc {
  color: rgb(197, 197, 197);
  font-weight: 300;
}



@media(max-width: 1200px) {
  .bordered-text {
    font-size: 20px;
    top: -15px;
  }
  
}
@media(max-width:768px) {
  
}
@media (max-width:400px) {
  .bordered-text {
    font-size: 15px;
  }
}