@import url('satoshi.css');
* {
  
  font-family: 'Satoshi', sans-serif;
  padding: 0;
  margin: 0;
}
a {
  color: unset;
  text-decoration: none;
}
:root {
  --primary-color: black;
  --secondary-color: rgb(43, 43, 43);
}
